<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragments/header}"></head>
<body class="container mt-5">

<h2 class="mb-4">Actualizar Pelicula</h2>

<form th:action="@{/actualizarPelicula/{id}(id=${pelicula.id})}" method="post">
    <input type="hidden" name="_method" value="put">

    <div class="form-group">
        <label for="titulo">Título:</label>
        <input type="text" class="form-control" id="titulo" name="titulo" th:value="${pelicula.titulo}" required>
    </div>

    <div class="form-group">
        <label for="genero">Género:</label>
        <input type="text" class="form-control" id="genero" name="genero" th:value="${pelicula.getGenero()}" required>
    </div>

    <div class="form-group">
        <label for="fechaEstreno">Fecha de Estreno:</label>
        <input type="date" class="form-control" id="fechaEstreno" name="fechaEstreno" th:value="${pelicula.getFechaEstreno()}" min="1970-01-01" max="3000-12-31" required>
    </div>

    <!-- Lista desplegable para seleccionar el director -->
    <div class="form-group">
        <label for="idDirector">Director:</label>
        <select class="form-control" id="idDirector" name="idDirector" required>
            <option th:each="usuario : ${usuariosConDirector}" th:value="${usuario.director.id}" th:text="${usuario.nombre +' '+ usuario.apellido}" th:selected="${usuario.director.id eq pelicula.director.id}"></option>
        </select>
    </div>

    <!-- Lista desplegable para seleccionar las plataformas-->
    <div class="form-group">
        <label for="idPlataformas">Plataformas:</label>
        <select class="form-control" id="idPlataformas" name="idPlataformas" multiple>
            <option th:each="plataforma : ${plataformas}" th:value="${plataforma.id}" th:text="${plataforma.nombre}" th:selected="${pelicula.getPlataformasDisponibles() != null and pelicula.getPlataformasDisponibles.contains(plataforma)}"></option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Actualizar Pelicula</button>
</form>

<div th:replace="~{fragments/footer}"></div>
</body>
</html>