<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:insert="~{fragments/header}"></head>
<body class="container mt-5">

<h2>Lista de Peliculas</h2>

<!--Botones para agregar plataformas y peliculas -->
<div class="mb-3">
    <a th:href="@{/agregarPlataforma}" class="btn btn-primary">Agregar Plataforma</a>
    <a th:href="@{/agregarPelicula}" class="btn btn-primary">Agregar Pelicula</a>
    <a th:href="@{/directores}" class="btn btn-primary">Ver Directores</a>

    <div class="mb-3"></div>

    <a sec:authorize="hasAuthority('ROL_ADMIN')" th:href="@{/gestorRoles}" class="btn btn-danger">Gestor Roles (Panel Admin)</a>
</div>

<table class="table table-bordered">

    USUARIO AUTENTICADO:
    <div sec:authentication="principal.username"></div>
    <br>
    ROLES DEL USUARIO AUTENTICADO:
    <div sec:authentication="principal.authorities"></div>
    <br>

    <thead>
    <tr>
        <th>ID</th>
        <th>Titulo</th>
        <th>Genero</th>
        <th>Fecha de Estreno</th>
        <th>Director</th>
        <th>Plataformas</th>
        <th sec:authorize="hasAuthority('ROL_ADMIN')">Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pelicula : ${peliculas}">
        <td th:text="${pelicula.id}"></td>
        <td th:text="${pelicula.titulo}"></td>
        <td th:text="${pelicula.genero}"></td>
        <td th:text="${pelicula.fechaEstreno}"></td>

        <td th:text="${userService.obtenerUsuarioPorDirector(pelicula.director).nombre +' '+
            userService.obtenerUsuarioPorDirector(pelicula.director).apellido}">
        </td>

        <td>
            <ul>
                <li th:each="plataforma : ${pelicula.getPlataformasDisponibles()}" th:text="${plataforma.nombre}"></li>
            </ul>
        </td>
        <!--Botones de eliminar y actualizar pelicula-->
        <td sec:authorize="hasAuthority('ROL_ADMIN')">
            <button th:onclick="'eliminarPeliculaConfirmacion('+${pelicula.id}+');'" class="btn btn-danger">Eliminar</button>
            <a th:href="@{/actualizarPelicula/{id}(id=${pelicula.id})}" class="btn btn-warning">Actualizar</a>
        </td>
    </tr>
    </tbody>
</table>

<script>
    function eliminarPeliculaConfirmacion(id) {
        Swal.fire({
            title: '¿Desea eliminar la pelicula seleccionada?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Eliminar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                location.href = '/eliminarPelicula/' + id;
            }
        });
    }
</script>

<div th:replace="~{fragments/footer}"></div>

</body>
</html>